<!DOCTYPE html>
<html>  
    <head>
        <title> Power method </title>
        <link rel="stylesheet" href="{{ url_for('stylesheets', path='/style.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            function send() {
                let m = document.getElementById("matrix").value;
                let n = document.getElementById("n").value;

                if (m != "" && n != "")
                    return location.href= "{{ url_for('eigen') }}" + "?m=" + m + "&n=" + n;
                else
                    alert("All fields are required")
            }
        </script>
    </head>
    <body>
        <h1> PROYECT 2 </h1>
        <menu>
            <li> <button class="item" onclick="location.href='{{ url_for('index') }}';"> Back to index </button> </li>
        </menu>
        <main>
            <h2> Power method </h2>
            <section> 
                <div class="left">
                    <h3> INPUT </h3>
        
                    <label> Matrix </label>
                    <input type="text" id="matrix" title="Introduce it as a list of lists, like: [[1,2,3], [4,5,6], ...]">
                    
                    <br>
        
                    <label> Iterations </label>
                    <input type="number" id="n">

                    <br>
                    <button id="calculate_eigen" onclick="send()"> Calculate </button>

                </div>
                
                <div class="right"> 
                    <h3> OUTPUT </h3>
                    <section>   
                        <div class="display">   
                            <p> Matrix: </p>
                            <blockquote id="matrix_display"> 
                                {%for array in m%}
                                <p> {{array}} </p>
                                {% endfor %}
                            </blockquote>
                            <p> Iterations: </p>
                            <blockquote id="n_display"> {{n}} </blockquote> 
                        </div>
                        <div class="results">   
                            <p> Dominant eigenvalue: </p>
                            <blockquote id="eigenvalue">  {{value}}  </blockquote>
                            <p> Dominant eigenvector: </p>
                            <blockquote id="eigenvector">  
                                {%for v in vector%}
                                <p> {{v}} </p>
                                {% endfor %}
                                
                            </blockquote>
                        </div>
                    </section>
                </div>
            </section>
        </main>
    </body>
</html>