<!DOCTYPE html>
<html>  
    <head>
        <title> Power method </title>
        <link rel="stylesheet" href="{{ url_for('stylesheets', path='/style.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            function send() {
                let f = document.getElementById("f").value;
                let a = document.getElementById("a").value;
                let x = document.getElementById("x").value;

                if (f != "" && a != "" && x != "")
                    return location.href= "{{ url_for('interpolation') }}" + "?func=" + f + "&a=" + a + "&x=" + x;
                else
                    alert("All fields are required")
            }
        </script>
    </head>
    <body>
        <h1> PROYECT 2 </h1>
        <menu>
            <li> <button class="item" onclick="location.href='{{ url_for('index') }}';"> Back to index </button> </li>
        </menu>
        <main>
            <h2> Taylor Interpolation </h2>
                <section>
                    <div class="left">  
                        <h3> INPUT </h3>

                        <label> Function </label>
                        <input id="f" list="functions">
                        <datalist id="functions">
                            <option value="sin(x)">
                            <option value="cos(x)">
                            <option value="exp(x)">
                        </datalist>
                        <br>

                        <label> Point of expansion </label>
                        <input type="number" id="a">
                        <br>

                        <label> Interpolation point </label>
                        <input type="number" id="x">
                        <br>

                        <button id="calculate_taylor" onclick="send()"> Calculate </button>
                    </div>
                    <div class="right"> 
                        <h3> OUTPUT </h3>
                        <section>
                            <div>
                                <p> Function </p>
                                <blockquote id="f_display"> {{f}} </blockquote>
                                <p> Point of expansion </p>
                                <blockquote id="a_display"> {{a}} </blockquote>
                                <p> Interpolation point </p>
                                <blockquote id="x_display"> {{x}} </blockquote>
                            </div>
                            <div>
                                <p> Interpolated value </p>
                        <blockquote id="interpolation">  {{result}}  </blockquote>
                            </div>
                        </section>
                    </div>
                </section>
        </main>
    </body>
</html>